
<div class="row justify-content-center align-items-center">
    <div class="col col-lg-1">
    </div>
    <div class="col col-lg-5 ">
     <img src="../../../assets/chef.jpg" alt="" width="400px" >
    </div>
    <div class="col col-lg-5">
        <br><br>
        <h3 class="text-danger">THANK YOU FROM JULIEN ROYER</h3>
        <br>
        <p>When we opened Odette five years ago, never would I have
            imagined that this is where we’d be today. Running a restaurant is tough, but when
            you get to work alongside a stellar brigade of truly passionate individuals it’s
            worth every moment.&nbsp;</p>
        <p>I moved to Singapore over a decade ago, a young French
            chef, only cooking classic French cuisine, using only French products. But life
            here, at the crossroads of Southeast Asia, opened my
            senses and gave me a renewed perspective. While
            we have remained French in our DNA, we weren’t afraid to adapt our recipes, inspired
            by our experiences from this part of the world. We learned to work with our terroir,
            exploring native ingredients, rare varieties of citrus and spice around the region,
            to sourcing from farms right here in Singapore who grow us many vegetables, flowers
            and herbs.&nbsp;</p>
        <p>Our approach evolved considerably to infuse a sense of place through product, technique,
            flavour and aesthetic. This principle truly drives Odette’s cuisine today, and I can
            proudly say that I am much happier with our approach now than the one I had before.
            Through our evolution, we owe so much to our community who have supported us throughout
            the years. Odette would not have been if not for many of you who’ve helped grow it into
            what it is today.</p>
        <p>Of course, Grand-Mère, there would simply be no Odette
            without you. This restaurant is my tribute to the lifelong respect you instilled in
            me. To my soulmate, Agnes, and my family, for wholeheartedly believing in me
            throughout this mammoth undertaking – thank you for being my strongholds throughout
            it all. To my marchands de bonheur in the kitchens, on the floor, in our offices,
            thank you for sharing my vision, working harmoniously with relentless dedication to
            deliver the Odette experience. We are thankful too for the passionate work of our
            artisans, who nurture our produce, make our wines and entrust us with the honour of
            serving them, presented with the work of our craftsmen who beautify our arts de la
            table. Finally, to our dear guests from Singapore and all around the world, you give
            us the greatest pleasure of all. Thank you for allowing us to continue what we do
            and for bringing life into our restaurant, our home.&nbsp</p>
        <p>We are here, because of you.&nbsp;</p>
        <p>Julien Royer</p>
    </div>

</div>