<nav color="primary" id="navbar">
    <span><img src="../../../assets/header.gif" height=30 width=41></span>
    <span class=" text-white"> 
        <a routerLink='/home'> Home </a> 
        <a routerLink='/about'> About </a> 
        <a routerLink='/menu'> Menu </a> 
        <a routerLink='/contact'> Contact </a> 
        <a mat-button><span class="fa fa-info fa-lg"></span> About</a>
        <a mat-button><span class="fa fa-list fa-lg"></span> Menu</a>
        <a mat-button><span class="fa fa-address-card fa-lg"></span> Contact</a>
    </span>
</nav>
  
    <div class=" jumbotron row align-items-center">
        <div class="col col-lg-2">
        </div>
        <div class="col col-lg-5">
            <h1>Сартхак Cafe</h1>
            <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
              will tickle your culinary senses!</p>
        </div>
        <div class="col col-lg-5">
            <img src="../../../assets/logo2.png" alt="Logo">
        </div>

    </div>