* {
  padding: 0px;
  margin: 0px;
}

#navbar {
  justify-content: space-between;
  background-color: #5e2ced;
  
}

.nav-li {
  margin: 0px 30px;
  color: wheat;
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
  padding: 8px 10px;
}
.nav-li:hover {
  border-bottom: 1px solid white;
  color: blueviolet;
}

.jumbotron {
  /* here  mom */
  background: #9575CD;
  color: floralwhite;
  min-width: 400px;
  min-height: 300px;
}
.active {
  background-color: white;
  color: black;
  border-radius: 10px;
}
#login {
  display: inline;
}