* {
  padding: 0px;
  margin: 0px;
}

#navbar {
  justify-content: space-between;
  background-color: #5e2ced;
}

.nav-li {
  margin: 0px 100px;
  color: wheat;
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
  padding: 8px 10px;
}
.nav-li:hover {
  border-bottom: 1px solid white;
  color: white;
}

.jumbotron {
  background: #9575cd;
  color: floralwhite;
  min-width: 400px;
  min-height: 300px;
}
