/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'material-icons/iconfont/material-icons.css';


.card {
    background-color: #835ef2;
    margin: auto;
    width:319px;
    height: 600px;
}

p {
    letter-spacing: 2px;
    line-height: 1.6;
}
img {
    border-radius: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
