/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
    background-color: #835ef2;
    margin: auto;
    width:319px;
    height: 600px;
}

p {
    letter-spacing: 2px;
    line-height: 1.6;
}